.container {
width: 100%;
max-width: 960px;
margin: 0 auto;
clear: both;

}

#jodyjones {

    width: 25%;
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    border: 3px solid blue;
    overflow: auto;

    
}

.h1 {
    margin: 5%;
    border: blue;
    padding: 2%;
    background-color: deepskyblue;
    width: 25%;

}

.p {
    color:  #777777;
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
    
    
}

.header {  position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    padding-top: 0%;
}


.paragraph1 {
    width: 960px;
margin-top: 15%;
margin-left: 30%;;
background-color: #ffffff;
float:right
}

#contact {
    float: right;
    
}

#portfolio {
    float: right;
}

#about {
    float: right;
}